* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #eff2f3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Calibri;
  color: rgba(0, 0, 0, 0.75);
}

img {
  width: 100%;
  height: 100%;
}
p {
  line-height: 20px;
}
